.node-assets-library-item-wrapper {
  border: 1px solid lightGray;
  padding: 4px;
}

.node-assets-library-item-wrapper .node-assets-item-button {
  background-color: whiteSmoke;
  border: 1px solid lightGray;
  margin: 4px;
}

.node-assets-library-item-wrapper .entity-node-asset {
  margin: 4px;
}

.view-node-assets-library table.views-view-grid {
  border-collapse: separate;
  border-spacing: 10px;
}

.view-node-assets-library .views-view-grid td {
  background-color: #999;
  position: relative;
  padding-bottom: 50px;
}

.views-field-insert-node-asset {
  text-align: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 10px 0px 0px 0px;
}

.views-field-insert-node-asset button {
  padding: 5px 10px;
  background: whiteSmoke;
  color: #333;
  border: solid 1px #333;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  text-transform: uppercase;
}

.views-field-insert-node-asset button:hover,
.views-field-insert-node-asset button:focus {
  background: #333;
  border: solid 1px #333;
  color: whiteSmoke;
}

.views-field-insert-node-asset button:active {
  background: #333;
  border: solid 1px whiteSmoke;
}

.view-node-assets-library .node-asset-small-asset {
  width: auto;
}
