.node-asset {
  background-color: #f6f6f2;
  border: 1px solid #ccc;
  padding: 8px;
  clear: both;
}

.node-asset-small-asset {
  width: 30%;
}

.node-asset div.field {
  clear: both;
}

.cke_dialog_ui_vbox_child {
  height: 600px !important;
}

.node-asset-error {
  background-color: #fef5f1;
  display: block;
  width: 20px;
  text-align: center;
  font-family: sans-serif, Arial;
  font-weight: bold;
  color: #8c2e0b;
  border: 1px #ed541d solid;
  margin: 5px;
}
