.node-asset.editor {
  cursor: default;
  margin: 10px 0;
  padding: 5px 10px;
  background: #f4f1ed;
  box-shadow: 0 0 15px #e1dede inset;
  clear: both;
}

.node-asset-small-asset.editor {
  width: 30%;
}

.node-asset.editor.selected {
  background: #fdfdee;
  box-shadow: 0 0 15px #e1dede inset;
}

.node-asset.editor.selected:hover {

  background: #f3e1db;
  box-shadow: 0 0 15px #d7c9c4 inset;
}

.node-asset.editor .content {
  padding: 5px 0;
}
